:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
}

.login-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
  width: calc(100% - 12px);
  padding: 6px;
  font-size: 14px;
}

.form-group-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.login-text {
  margin-left: 10px;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.login-text:hover {
  text-decoration: underline;
}
