<div class="schedule">
  <h1>Harmonogram z {{ currentDate | date:'MMMM yyyy' }}</h1>
  <div class="navigation">
    <button (click)="goToPreviousMonth()">← Poprzedni miesiąc</button>
    <button (click)="goToNextMonth()">Następny miesiąc →</button>
  </div>
  <div class="slots-container">
    <div *ngFor="let slot of slots" class="slot-box">
      <p class="slot-header">{{ slot.slot_date | date:'dd' }} - {{ slot.slot_date | date:'EEEE' }}</p>
      <p><strong>Admin:</strong></p>
      <ul>
        <li *ngFor="let user of slot.users">
          {{ user.username }} (ID: {{ user.id }})
        </li>
      </ul>
      <p><strong>Komentarz:</strong></p>
      <ul>
        <li *ngFor="let comment of slot.comments | keyvalue">
          {{ comment.key }}: {{ comment.value || 'Brak komentarza' }}
        </li>
      </ul>
    </div>
  </div>
</div>
