<div class="schedule">
  <h1>Sloty w {{ today | date:'MMMM yyyy' }}</h1>
  <div class="slots-container">
    <div *ngFor="let slot of slots" class="slot-box">
      <p><strong>Data:</strong> {{ slot.slot_date | date }}</p>
      <p><strong>Admin:</strong></p>
      <ul>
        <li *ngFor="let user of slot.users">
          {{ user.username }} (ID: {{ user.id }})
        </li>
      </ul>
      <p><strong>Komentarz:</strong></p>
      <ul>
        <li *ngFor="let comment of slot.comments | keyvalue">
          {{ comment.key }}: {{ comment.value || 'Brak komentarza' }}
        </li>
      </ul>
    </div>
  </div>
</div>
